h1{
	font-size: 65px;
}

p{
	font-size: 18px;
	font-weight: 900px;
}

#inst{
	font-family: 'Press Start 2p';
}

#arrowstart{
	font-family: 'Press Start 2p';
}

body{
	font-family: 'Serif';
}